.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  font-family: Inter Tight;
}
.display-1 {
  font-family: 'Great Vibes', handwriting;
  font-size: 5rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 5rem;
}
.display-4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.75rem;
}
.display-5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-4 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #f8f5f2 !important;
}
.bg-success {
  background-color: #2c3d51 !important;
}
.bg-info {
  background-color: #c4af9c !important;
}
.bg-warning {
  background-color: #3e89db !important;
}
.bg-danger {
  background-color: #ed2e00 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #f8f5f2 !important;
  border-color: #f8f5f2 !important;
  color: #997652 !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #997652 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #537787 !important;
  border-color: #537787 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #6a92a3 !important;
  border-color: #6a92a3 !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #6a92a3 !important;
  border-color: #6a92a3 !important;
}
.btn-info,
.btn-info:active {
  background-color: #c4af9c !important;
  border-color: #c4af9c !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #d7c9bc !important;
  border-color: #d7c9bc !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #d7c9bc !important;
  border-color: #d7c9bc !important;
}
.btn-success,
.btn-success:active {
  background-color: #2c3d51 !important;
  border-color: #2c3d51 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #3e5672 !important;
  border-color: #3e5672 !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #3e5672 !important;
  border-color: #3e5672 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #3e89db !important;
  border-color: #3e89db !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #69a3e3 !important;
  border-color: #69a3e3 !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #69a3e3 !important;
  border-color: #69a3e3 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ed2e00 !important;
  border-color: #ed2e00 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #ff4c21 !important;
  border-color: #ff4c21 !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff4c21 !important;
  border-color: #ff4c21 !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #f8f5f2;
  color: #f8f5f2;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #dacaba !important;
  background-color: transparent !important;
  border-color: #dacaba !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #997652 !important;
  background-color: #f8f5f2 !important;
  border-color: #f8f5f2 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #537787;
  color: #537787;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #324851 !important;
  background-color: transparent !important;
  border-color: #324851 !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #537787 !important;
  border-color: #537787 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #c4af9c;
  color: #c4af9c;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #a48366 !important;
  background-color: transparent !important;
  border-color: #a48366 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #c4af9c !important;
  border-color: #c4af9c !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #2c3d51;
  color: #2c3d51;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #0d1319 !important;
  background-color: transparent !important;
  border-color: #0d1319 !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #2c3d51 !important;
  border-color: #2c3d51 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #3e89db;
  color: #3e89db;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #1f5ea4 !important;
  background-color: transparent !important;
  border-color: #1f5ea4 !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #3e89db !important;
  border-color: #3e89db !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ed2e00;
  color: #ed2e00;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #961d00 !important;
  background-color: transparent !important;
  border-color: #961d00 !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ed2e00 !important;
  border-color: #ed2e00 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #f8f5f2 !important;
}
.text-secondary {
  color: #537787 !important;
}
.text-success {
  color: #2c3d51 !important;
}
.text-info {
  color: #c4af9c !important;
}
.text-warning {
  color: #3e89db !important;
}
.text-danger {
  color: #ed2e00 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #d4c2b0 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #2c3f48 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #080b0f !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #9d7b5d !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #1c5797 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #871a00 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #f8f5f2;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #c4af9c;
}
.alert-warning {
  background-color: #3e89db;
}
.alert-danger {
  background-color: #ed2e00;
}
.mbr-gallery-filter li.active .btn {
  background-color: #f8f5f2;
  border-color: #f8f5f2;
  color: #a8825d;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #f8f5f2;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #9aafc8;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #f4f0ec;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #eaf2fb;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffc7ba;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.75rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #f8f5f2 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.75rem;
}
blockquote {
  border-color: #f8f5f2;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #f8f5f2;
  color: #000000;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #f8f5f2;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #f8f5f2;
  border-bottom-color: #f8f5f2;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #f8f5f2 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #537787 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23f8f5f2' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
@media (max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
*:focus-visible {
  outline: red solid 2px !important;
  outline-offset: 2px !important;
  transition: outline 0.2s ease-in-out;
}
.cid-v4vQl8S9wO {
  display: flex;
  background-image: url("../../../assets/images/plane-1675369-1280-1280x853.jpg");
}
.cid-v4vQl8S9wO .mbr-overlay {
  background-color: #f8f5f2;
  opacity: 0.8;
}
.cid-v4vQl8S9wO .content-wrap {
  padding: 5rem 1rem;
}
@media (min-width: 992px) {
  .cid-v4vQl8S9wO .content-wrap {
    padding: 5rem 3rem;
  }
}
@media (min-width: 768px) {
  .cid-v4vQl8S9wO {
    align-items: center;
  }
  .cid-v4vQl8S9wO .row {
    justify-content: center;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-v4vQl8S9wO .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-v4vQl8S9wO {
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-v4vQl8S9wO .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-v4vQl8S9wO .content-wrap {
    width: 100%;
  }
}
.cid-v4vQl8S9wO .mbr-section-title {
  text-align: center;
  color: #2c3d51;
}
.cid-v4vQl8S9wO .mbr-text,
.cid-v4vQl8S9wO .mbr-section-btn {
  text-align: center;
  color: #2c3d51;
}
.cid-v4vQl8S9wO .mbr-description {
  text-align: center;
  color: #2c3d51;
}
.cid-v4N85DuCcv {
  padding-top: 2rem;
  padding-bottom: 4rem;
  background-color: #2c3d51;
}
.cid-v4N85DuCcv .mbr-fallback-image.disabled {
  display: none;
}
.cid-v4N85DuCcv .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-v4N85DuCcv .video-wrapper iframe {
  width: 100%;
}
.cid-v4N85DuCcv .mbr-section-title,
.cid-v4N85DuCcv .mbr-section-subtitle,
.cid-v4N85DuCcv .mbr-text {
  text-align: center;
}
.cid-v4N85DuCcv .mbr-section-title {
  color: #f8f5f2;
}
.cid-v4MFoZJnsc {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #2c3d51;
}
.cid-v4MFoZJnsc .mbr-fallback-image.disabled {
  display: none;
}
.cid-v4MFoZJnsc .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-v4MFoZJnsc .card-wrapper {
  background: #2c3d51;
}
@media (max-width: 767px) {
  .cid-v4MFoZJnsc .card-wrapper {
    padding: 2rem 1.5rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-v4MFoZJnsc .card-wrapper {
    padding: 2.25rem;
  }
}
@media (min-width: 992px) {
  .cid-v4MFoZJnsc .card-wrapper {
    padding: 4rem;
  }
}
.cid-v4MFoZJnsc .mbr-text,
.cid-v4MFoZJnsc .mbr-section-btn {
  text-align: center;
}
.cid-v4MIZpi4Gi {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #2c3d51;
}
.cid-v4MIZpi4Gi .item-subtitle {
  line-height: 1.2;
  color: #232323;
  text-align: center;
}
.cid-v4MIZpi4Gi img,
.cid-v4MIZpi4Gi .item-img {
  width: 100%;
  height: 100%;
  height: 500px;
  object-fit: cover;
}
.cid-v4MIZpi4Gi .item:focus,
.cid-v4MIZpi4Gi span:focus {
  outline: none;
}
.cid-v4MIZpi4Gi .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-v4MIZpi4Gi .item {
    margin-bottom: 1rem;
  }
}
.cid-v4MIZpi4Gi .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-v4MIZpi4Gi .mbr-section-title {
  color: #f8f5f2;
}
.cid-v4MIZpi4Gi .mbr-text,
.cid-v4MIZpi4Gi .mbr-section-btn {
  color: #f8f5f2;
  text-align: center;
}
.cid-v4MIZpi4Gi .item-title {
  color: #f8f5f2;
  text-align: center;
}
.cid-v4MIZpi4Gi .content-head {
  max-width: 800px;
}
.cid-v4wBiys2gY {
  padding-top: 0rem;
  padding-bottom: 8rem;
  background-color: #2c3d51;
}
.cid-v4wBiys2gY .mbr-fallback-image.disabled {
  display: none;
}
.cid-v4wBiys2gY .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-v4wBiys2gY .card-wrapper {
  overflow: hidden;
  background: #f8f5f2;
}
.cid-v4wBiys2gY .text-wrapper {
  padding: 4rem 3rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-v4wBiys2gY .text-wrapper {
    padding: 2.25rem;
  }
}
@media (max-width: 767px) {
  .cid-v4wBiys2gY .text-wrapper {
    padding: 1.5rem;
  }
}
.cid-v4wBiys2gY .row {
  align-items: center;
  margin-right: -1rem;
  margin-left: -1rem;
}
.cid-v4wBiys2gY .row {
  flex-direction: row-reverse;
}
.cid-v4wBiys2gY .image-wrapper {
  padding: 0 1rem;
}
.cid-v4wBiys2gY img,
.cid-v4wBiys2gY .image-wrapper {
  height: 700px;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-v4wBiys2gY img,
  .cid-v4wBiys2gY .image-wrapper {
    max-height: 350px;
  }
}
.cid-v4wBiys2gY .mbr-section-title {
  color: #2c3d51;
}
.cid-v4wBiys2gY .mbr-text {
  color: #000000;
}
.cid-v4wBiys2gY .price {
  color: #68a53a;
}
.cid-v4MYpdUB4X {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #2c3d51;
}
.cid-v4MYpdUB4X .justify-content-center {
  align-items: center;
}
.cid-v4MYpdUB4X .mbr-fallback-image.disabled {
  display: none;
}
.cid-v4MYpdUB4X .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-v4MYpdUB4X .item-wrapper {
  display: flex;
  margin-left: auto;
}
@media (max-width: 767px) {
  .cid-v4MYpdUB4X .item-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-v4MYpdUB4X .mbr-section-btn {
  padding-left: 1.5rem;
  text-align: right;
}
@media (max-width: 767px) {
  .cid-v4MYpdUB4X .mbr-section-btn {
    text-align: center;
    padding-left: 0rem;
  }
}
.cid-v4MYpdUB4X .row {
  align-items: center;
}
.cid-v4MYpdUB4X .card-text {
  color: #f8f5f2;
  margin-bottom: 0px;
  text-align: left;
}
@media (max-width: 767px) {
  .cid-v4MYpdUB4X .card-text {
    text-align: center;
  }
}
.cid-v4vJ0wKVOL {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f8f5f2;
}
.cid-v4vJ0wKVOL .mbr-fallback-image.disabled {
  display: none;
}
.cid-v4vJ0wKVOL .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-v4vJ0wKVOL .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-v4vJ0wKVOL .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-v4vJ0wKVOL .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-v4vJ0wKVOL .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-v4vJ0wKVOL .mbr-section-title {
  color: #1d1d1d;
  text-align: center;
}
.cid-v4vJ0wKVOL .mbr-text,
.cid-v4vJ0wKVOL .mbr-section-btn {
  color: #1d1d1d;
  text-align: center;
}
.cid-v4vUHrLwd6 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #f8f5f2;
}
.cid-v4vUHrLwd6 .mbr-fallback-image.disabled {
  display: none;
}
.cid-v4vUHrLwd6 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-v4vUHrLwd6 .mbr-iconfont {
  margin: auto;
  display: inline-flex;
  font-size: 2rem;
  color: #ff9300;
  width: 40px;
  justify-content: center;
  align-items: center;
}
.cid-v4vUHrLwd6 .card-title,
.cid-v4vUHrLwd6 .iconfont-wrapper {
  color: #1d1d1d;
}
.cid-v4vUHrLwd6 .card-text {
  color: #f3f3f3;
}
.cid-v4vUHrLwd6 .mbr-section-title {
  color: #1d1d1d;
}
.cid-v4vUHrLwd6 .mbr-section-subtitle {
  color: #232323;
}
.cid-v4vUHrLwd6 .content-head {
  max-width: 800px;
}
.cid-v4MZCptaBb {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #2c3d51;
}
.cid-v4MZCptaBb .mbr-iconfont {
  font-size: 1.2rem !important;
  font-family: 'Moririse2' !important;
  color: white;
  transition: all 0.3s;
  transform: rotate(180deg);
  padding-left: 0.5rem;
}
.cid-v4MZCptaBb .panel-group {
  border: none;
}
.cid-v4MZCptaBb .card-header {
  padding: 0rem;
}
@media (max-width: 767px) {
  .cid-v4MZCptaBb .card-header {
    padding: 0rem;
  }
}
.cid-v4MZCptaBb .panel-body {
  padding: 0rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
}
.cid-v4MZCptaBb .img-col {
  padding: 0;
}
.cid-v4MZCptaBb .img-item {
  height: 100%;
}
.cid-v4MZCptaBb img {
  height: 100%;
  object-fit: cover;
}
.cid-v4MZCptaBb .collapsed span {
  transform: rotate(0deg);
}
.cid-v4MZCptaBb .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-v4MZCptaBb p {
  margin-bottom: 0.3rem;
}
.cid-v4MZCptaBb .panel-title-edit {
  color: #2c3d51;
}
.cid-v4MZCptaBb .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
  border: 0;
  border-radius: 2rem;
}
.cid-v4MZCptaBb .card {
  background: #ffffff;
  padding: 2.25rem;
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .cid-v4MZCptaBb .card {
    padding: 2rem 1.5rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-v4MZCptaBb .card {
    margin-bottom: 1rem;
    padding: 2rem 1.5rem;
  }
}
.cid-v4MZCptaBb .panel-text {
  color: #000000;
}
.cid-v4MZCptaBb .mbr-section-title {
  text-align: center;
  color: #f8f5f2;
}
.cid-v4MZCptaBb .mbr-section-subtitle {
  color: #000000;
  text-align: center;
}
.cid-v4MZCptaBb .panel-title-edit,
.cid-v4MZCptaBb .mbr-iconfont {
  color: #000000;
}
.cid-v4N0O7dPLN {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #2c3d51;
}
.cid-v4N0O7dPLN .mbr-fallback-image.disabled {
  display: none;
}
.cid-v4N0O7dPLN .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-v4N0O7dPLN .card-wrapper {
  background: #2c3d51;
}
@media (max-width: 767px) {
  .cid-v4N0O7dPLN .card-wrapper {
    padding: 2rem 1.5rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-v4N0O7dPLN .card-wrapper {
    padding: 2.25rem;
  }
}
@media (min-width: 992px) {
  .cid-v4N0O7dPLN .card-wrapper {
    padding: 4rem;
  }
}
.cid-v4N0O7dPLN .mbr-text,
.cid-v4N0O7dPLN .mbr-section-btn {
  text-align: center;
}
.cid-v4N32CPnwO {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #2c3d51;
}
.cid-v4N32CPnwO .social-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cid-v4N32CPnwO .social-row .soc-item {
  margin: 8px;
}
.cid-v4N32CPnwO .social-row .soc-item a:hover .mbr-iconfont,
.cid-v4N32CPnwO .social-row .soc-item a:focus .mbr-iconfont {
  background-color: #f7f7f7;
}
.cid-v4N32CPnwO .social-row .soc-item a .mbr-iconfont {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 32px;
  background-color: #f7f7f7;
  color: #2c3d51;
  transition: all 0.3s ease-in-out;
}
.cid-v4N32CPnwO .row-links {
  width: 100%;
  justify-content: center;
}
.cid-v4N32CPnwO .mbr-section-title {
  color: #ffffff;
}
.cid-v4N32CPnwO .mbr-section-title,
.cid-v4N32CPnwO .social-list {
  color: #000000;
}
